#container {
    background-color: aqua;
    border: 8px solid green;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: auto;
}

@media (max-width: 500px) {
    #container {
        flex-direction: column;
    }
}

.GCaja {
    background-color: blanchedalmond;
    border: 4px solid green;
    margin: 6px;
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 20%);
    height: 560px;
}

.sub1 {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.sub1-1 {
    background-color: cyan;
    border: 2px solid red;
    margin: 2px;
    width: 55px;
    height: 70px;
    display: flex;
}

.sub2 {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
}

.sub2-1 {
    background-color: brown;
    border: 2px solid red;
    margin: 4px;
    width: auto;
    height: 80px;
    display: flex;
}

.sub3 {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.sub3-1 {
    background-color: greenyellow;
    border: 2px solid red;
    margin: 3px;
    width: 55px;
    height: 70px;
    display: flex;
}
